@model IEnumerable<CinemaNews.Models.Actor>

@{
    ViewBag.Title = "Actors";
}

<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/jquery-ui.min.js"></script>
<link href="~/Content/jquery-ui.min.css" rel="stylesheet" />

@*<script src="~/Scripts/jquery-1.12.4.min.js"></script>*@

<script src="~/Custom_Scripts/CheckBox_SelectALl.js"></script>

<script type="text/javascript" language="javascript">

    $(function () {
        $('#txtSearch').autocomplete({
            source: '@Url.Action("GetCompleteSearch")'
        });
    });
</script>

<br />
<div style="float:right">
    @using (Html.BeginForm("List", "Actor"))
    {
        @Html.TextBox("searchTerm", null, new { @class = "form-control", id = "txtSearch" }) <br />
        <input type="submit" value="Search" class="btn btn-primary" />
    }
</div>
<h2>Actors</h2>
<p>
    @Html.ActionLink("Add Actor", "Create")
</p>
@using (Html.BeginForm("Delete", "Actor", FormMethod.Post))
{
    <table class="table">
        <tr>
            <th>
                <input type="checkbox" id="checkAll"  hidden/> <br /> <text id="txtAll" style="font-size:small" hidden>All</text>
            </th>
            <th>
               <h4><b>Name</b></h4> 
            </th>
            <th>
                <h4><b> @Html.DisplayNameFor(model => model.Gender)</b></h4>
            </th>
            <th>
                <h4><b> @Html.DisplayNameFor(model => model.DateOfBirth)</b></h4>
            </th>
            <th>
                <h4><b>Age</b></h4>
            </th>
            <th>
                <h4><input type="button" value="Select" class="btn btn-primary" id="btnSelect" /></h4> 
            </th>

        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <h4>
                        <input type="checkbox" id="IdsCheckDelete" name="CheckDelete" value="@item.Actor_Id" hidden /> 
                        @Html.ActionLink("Edit", "Edit", new { id = item.Actor_Id }, new { @style = "display:none" , @name = "link" })
                    </h4>

                </td>
                @using (Html.BeginForm("Delete_One", "Actor", new { id = @item.Actor_Id }, FormMethod.Post))
                {

                    <td>
                        @Html.ActionLink(@item.FirstName +" "+ @item.LastName, "Details", new { id =item.Actor_Id})
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Gender)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateOfBirth)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Age) Years
                    </td>
                    <td>
                        <input type="submit" value="Delete" class="btn btn-danger"
                               onclick="return confirm('Are u Sure Delete Mr/Ms : @item.LastName');" /> 
                    </td>
                }
            </tr>

        }

    </table>
    <div>
        <input type="submit" value="Delete Selected Actor" id="btnDeleteAll" class="btn btn-danger"  style="display:none"/>
    </div>
}