@model IEnumerable<CinemaNews.Models.Actor>

@{
    ViewBag.Title = "Actors";
}

<h2>Actors</h2>

<p>
    @Html.ActionLink("Add Actor", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        using (Html.BeginForm("Delete", "Actor", new { id = @item.Id }, FormMethod.Post))
        {
            <tr>
                <td>
                    @item.FirstName @item.LastName
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfBirth)
                </td>
                <td>
                        <h4 style="display:inline"> @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |</h4>
                        <input type="submit" value="Delete" class="btn btn-danger"
                               onclick="return confirm('Are u Sure Delete Mr/Ms : @item.LastName');" />
                </td>
            </tr>
        }
    }

</table>
