@model IEnumerable<CinemaNews.Models.Actor>

@{
    ViewBag.Title = "Actors";
}

<h2>Actors</h2>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<script type="text/javascript" language="javascript">
    $(function () {
        $("#checkAll").click(function () {
            $("input[name='CheckDelete']").prop("checked", this.checked);
        });
        $("input[name='CheckDelete']").click(function () {
            if($("input[name='CheckDelete']").length == $("input[name='CheckDelete']:checked").length)
            {
                $("#checkAll").prop("checked", true);
            }
            else 
            {
                $("#checkAll").removeProp("checked");
            }
        });
        $("#btnDeleteAll").click(function () {
            var count = $("input[name='CheckDelete']:checked").length;
            if(count == 0)
            {
                alert("No Actor is Selected to Delete.");
                return false;
            }
            else
            {
                return confirm(count + " Actor(s) will be Deleted.");
            }
        });
        $("#btnSelect").click(function () {
            var Toggle = $(this).val() === "Select";
            $(this).val(Toggle ? "Cancel" : "Select");

            $("#checkAll").toggle();
            $("#txtAll").toggle();
            $("input[name='CheckDelete']").toggle();
            $("#btnDeleteAll").toggle();
        });
    });

</script>

<p>
    @Html.ActionLink("Add Actor", "Create")
</p>
@using (Html.BeginForm("Delete", "Actor", FormMethod.Post))
{
    <table class="table">
        <tr>
            <th>
                <input type="checkbox" id="checkAll"  hidden/> <br /> <text id="txtAll" style="font-size:small" hidden>All</text>
            </th>
            <th>
               <h4><b>Name</b></h4> 
            </th>
            <th>
                <h4><b> @Html.DisplayNameFor(model => model.Gender)</b></h4>
            </th>
            <th>
                <h4><b> @Html.DisplayNameFor(model => model.DateOfBirth)</b></h4>
            </th>
            <th>
                <h4><b>Age</b></h4>
            </th>
            <th>
                <h4><input type="button" value="Select" class="btn btn-primary" id="btnSelect" /></h4> 
            </th>

        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <input type="checkbox" id="IdsCheckDelete" name="CheckDelete" value="@item.Id" hidden/>
                </td>
                @using (Html.BeginForm("Delete_One", "Actor", new { id = @item.Id }, FormMethod.Post))
                {

                    <td>
                        @item.FirstName @item.LastName
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Gender)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateOfBirth)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Age) Years
                    </td>
                    <td>
                        <input type="submit" value="Delete" class="btn btn-danger"
                               onclick="return confirm('Are u Sure Delete Mr/Ms : @item.LastName');" />
                    </td>
                }
            </tr>

        }

    </table>
    <div>
        <input type="submit" value="Delete Selected Actor" id="btnDeleteAll" class="btn btn-danger"  style="display:none"/>
    </div>
}